{{#section 'title'}}
<title>Tài khoản cá nhân</title>
{{/section}}
<div class="card card-user">
    <div class="card-header">
        <h5 class="card-title">Thông tin cá nhân</h5>
    </div>
    <div class="card-body">
        <form>
            <div class="row">
                <div class="col-md-8 pr-1">
                    <div class="form-group">
                        <label>Họ tên</label>
                        <input type="text" readonly class="form-control bg-transparent" value="{{profile.fullname}}">
                    </div>
                </div>
                <div class="col-md-4 pl-1">
                    <div class="form-group">
                        <label>Năm sinh</label>
                        <input type="text" readonly class="form-control bg-transparent" value="{{profile.dob}}">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8 pr-1">
                    <div class="form-group">
                        <label>Username</label>
                        <input type="text" readonly class="form-control bg-transparent" value="{{profile.username}}">
                    </div>
                </div>
                <div class="col-md-4 pl-1">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Số CMND / Căn cước công dân</label>
                        <input type="text" readonly class="form-control bg-transparent" value="{{profile.national_id}}">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8 pr-1">
                    <div class="form-group">
                        <label>Nơi đang điều trị / cách ly</label>
                        <input type="text" readonly class="form-control bg-transparent"
                            value="{{profile.quarantineLocation.name}}">
                    </div>
                </div>
                <div class="col-md-4 pl-1">
                    <div class="form-group">
                        <label>Trạng thái hiện tại</label>
                        {{#if profile.state}}
                        <input type="text" readonly class="form-control bg-transparent" value="F{{profile.state}}">
                        {{else}}
                        <input type="text" readonly class="form-control bg-transparent" value="Khỏi bệnh">
                        {{/if}}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 pr-1">
                    <div class="form-group">
                        <label>Tỉnh / Thành phố</label>
                        <input type="text" readonly class="form-control bg-transparent" value="{{profile.city}}">
                    </div>
                </div>
                <div class="col-md-4 px-1">
                    <div class="form-group">
                        <label>Quận / Huyện</label>
                        <input type="text" readonly class="form-control bg-transparent" value="{{profile.district}}">
                    </div>
                </div>
                <div class="col-md-4 pl-1">
                    <div class="form-group">
                        <label>Phường / xã</label>
                        <input type="text" readonly class="form-control bg-transparent" value="{{profile.ward}}">
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>