{{#section 'title'}}
<title>Lịch sử mua hàng</title>
{{/section}}

{{#section 'style'}}
{{!-- DataTables --}}
<link rel="stylesheet" type="text/css" href="/DataTables/datatables.css">
{{/section}}

{{#section 'script'}}
{{!-- Datatables --}}
<script type="text/javascript" charset="utf8" src="/DataTables/datatables.js"></script>
<script>
    $(document).ready(function () {
        $('#table_purchase_history').DataTable();
    });
</script>
{{/section}}


<div class="col-md-12 p-0">
    <div class="card">
        <div class="card-header">
            <h4 class="card-title">Lịch sử mua hàng </h4>
        </div>
        <div class="card-body">
            <div class="table-responsive p-3">
                <table class="table table-hover" id="table_purchase_history">
                    <thead class=" text-primary">
                        <tr>
                            <th>
                                Mã giao dịch
                            </th>
                            <th>
                                Tên gói
                            </th>
                            <th class="text-center">
                                Số lượng
                            </th>
                            <th class="text-center">
                                Số tiền
                            </th>
                            <th class="text-center">
                                Ngày
                            </th>
                            <th class="text-center">
                                Hành động
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each data}}
                        <tr>
                            <td>
                                {{this.order_id}}
                            </td>
                            <td>
                                {{#each this.packages}}
                                {{this.package_name}}
                                {{/each}}
                            </td>
                            <td class="text-center">
                                {{#each this.packages}}
                                {{this.amount}}
                                {{/each}}
                            </td>
                            <td class="text-center">
                                {{this.total}}
                            </td>
                            <td class="text-center">
                                {{this.create_at}}
                            </td>
                            <td class="text-center">
                                <a href="/user/{{../id}}/purchase/order/{{this.order_id}}" class="btn btn-info">
                                    Chi tiết
                                </a>
                            </td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>