<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, scale=1.0">

    <title>Log in</title>

    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">

    <!-- CSS Files -->
    <link href="/css/bootstrap.min.css" rel="stylesheet" />

    {{!-- Floating label --}}
    <link href="/css/floating-labels.css" rel="stylesheet" />
</head>

<body cz-shortcut-listen="true">
    {{#if isFirstLogin}}
    <form class="form-create-password" action="/login?_method=PUT" method="POST">
        <div class="text-center mb-4">
            <a href="/"><img class="mb-4" src="/img/logo.png" alt=""></a>
            <h1 class="h3 mb-3 font-weight-normal">CREATE YOUR PASSWORD</h1>
        </div>
        <small id="message"></small>
        <div class="form-label-group">
            <input type="text" id="inputUsername" name="username" class="form-control" value="{{user.username}}" hidden>
        </div>
         <div class="form-label-group">
            <input type="text" id="inputId" name="id" class="form-control" value="{{user.account_id}}" hidden>
        </div>

        <div class="form-label-group">
            <input type="password" id="inputPassword" name="Password" class="form-control" placeholder="Password" required>
            <label for="inputPassword">New Password</label>
        </div>
         <div class="form-label-group">
            <input type="password" id="inputConfirmPassword" name="confirmPassword" class="form-control" placeholder="Confirm Password" onkeyup='check();' required>
            <label for="inputConfirmPassword">Confirm Password</label>
        </div>        
        <button class="btn btn-lg btn-primary btn-block create-password-btn" type="submit">Create</button>
    </form>
    {{else}}
    <form class="form-signin" action="/login" method="POST">
        <div class="text-center mb-4">
            <a href="/"><img class="mb-4" src="/img/logo.png" alt=""></a>
            <h1 class="h3 mb-3 font-weight-normal">LOG IN</h1>
        </div>
        {{#if error.status}}
        <small style="color: red;">{{error.msg}}</small>
        {{/if}}
        <div class="form-label-group">
            <input type="text" id="inputUsername" name="Username" class="form-control" value="{{user.username}}">
            <label for="inputUsername">Username</label>
        </div>

        <div class="form-label-group">
            <input type="password" id="inputPassword" name="Password" class="form-control" placeholder="Password">
            <label for="inputPassword" autofocus>Password</label>
        </div>

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" value="remember-me"> Remember me
            </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Log in</button>
    </form>
    {{/if}}
</body>

</html>

<script src="/js/custom/checkCreatePassword.js"></script>