{{#section 'title'}}
<title>Gói hàng</title>
{{/section}}

{{#section 'style'}}
<link href="/css/home.css" rel="stylesheet" />
<link rel="stylesheet" type="text/css" href="/DataTables/datatables.css">
{{/section}}

{{#section 'script'}}
{{!-- Datatables --}}
<script type="text/javascript" charset="utf8" src="/DataTables/datatables.js"></script>
<script>
    $(document).ready(function () {
        $('#table_product').DataTable({
            "searching": false,
            "lengthChange": false,
            "language": {
                "paginate": {
                    "next": '<i class="fa fa-chevron-right" aria-hidden="true"></i>',
                    "previous": '<i class="fa fa-chevron-left" aria-hidden="true"></i>'
                }
            }
        });
    });
</script>

<script src="/js/custom/paymentCal.js"></script>
{{/section}}

<section class="dashboard section">
    <!-- Container Start -->
    <div class="container-fluid">
        <!-- Row Start -->
        <div class="row">
            <div class="col-md-10 offset-md-1 col-lg-4 offset-lg-0">
                <div class="sidebar">
                    <div class="widget user-dashboard-profile">
                        <h2 class="text-center">{{package.name}}</h2>
                        <p style="font-size: 1.2rem;">Tổng tiền: <span id="total"></span></p>
                        <button form="order-form" type="submit" class="btn btn-main-sm">Thanh toán</button>
                    </div>
                    <!-- Dashboard Links -->
                    <div class="widget user-dashboard-menu">
                        <h2 class="text-center">Thông tin</h2>
                        <ul>
                            {{!-- <li><a><i class="fa fa-folder-open-o"></i>Tên category</a></li> --}}
                            <li>
                                <a>
                                    <i class="fa fa-bookmark-o"></i>
                                    Số lượng: <span style="float: none;">{{package.max_per_person}}</span> gói / <span style="float: none;">1</span> người /
                                    <span style="float: none;">{{package.period}}</span> ngày
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-0">
                <!-- Recently Favorited -->
                <div class="widget dashboard-container my-adslist">
                    <h3 class="widget-header">Danh sách sản phẩm</h3>
                    <form id="order-form" action="/user/order" method="POST">
                        <table id="table_product" class="table table-responsive product-dashboard-table">
                            <thead>
                                <tr>
                                    <th>Ảnh</th>
                                    <th>Tên sản phẩm</th>
                                    {{!-- <th class="text-center text-nowrap">Danh mục</th> --}}
                                    <th class="text-center">Số lượng</th>
                                    <th class="text-center text-nowrap">Đơn giá</th>
                                    <th class="text-center text-nowrap">Thành tiền</th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#each products}}
                                <tr>
                                    <td class="product-thumb">
                                        <img width="80px" height="auto"
                                            src="{{this.images.[0]}}"
                                            alt="image description">
                                    </td>
                                    <td class="product-details">
                                        <a href="/product/{{this.necessary_id}}" class="title">{{this.name}}</a>
                                    </td>
                                    {{!-- <td class="product-category"><span class="categories">Laptops</span></td> --}}
                                    <td class="action" data-title="Action">
                                        <div class="w-75 text-center mx-auto">
                                            {{!-- Id Input is product ID --}}
                                            <input type="number" class="w-100 user-input" name="{{this.necessary_id}}" id="prodID{{this.necessary_id}}"
                                                min="1" value="1" max="{{this.max_necessary_per_package}}">
                                        </div>
                                    </td>
                                    <td class="product-details text-right">
                                        <h3 class="title" id="prodID{{this.necessary_id}}_price">{{this.price}}</h3>
                                    </td>
                                    <td class="product-details text-right">
                                        {{!-- Id of this tag is <product ID>_total --}}
                                        <h3 class="title product_total_price" id="prodID{{this.necessary_id}}_total">{{this.price}}</h3>
                                        <input id="prodID{{this.necessary_id}}_total_input" type="number" name="{{this.necessary_id}}" value="{{this.price}}" hidden>
                                    </td>
                                </tr>
                                {{/each}}
                            </tbody>
                        </table>
                        <input  type="text" name="package_name" value="{{package.name}}" hidden>
                        <input  type="text" name="package_id" value="{{package.package_id}}" hidden>
                        <input id="hidden-total-input" value="0" type="number" name="total" hidden>
                    </form>
                </div>
            </div>
        </div>
        <!-- Row End -->
    </div>
    <!-- Container End -->
</section>