{{#section 'title'}}
<title>Category</title>
{{/section}}

{{#section 'style'}}
<link href="/css/home.css" rel="stylesheet" />
<link href="/css/slickSlider/slick.css" rel="stylesheet" />
<link href="/css/slickSlider/slick-theme.css" rel="stylesheet" />
<style>
    .product-slider .slick-dots {
        bottom: -80px;
    }
</style>
{{/section}}

{{#section 'script'}}
{{!-- SlickSlider --}}
<script type="text/javascript" charset="utf8" src="/js/plugins/slick.min.js"></script>
<script src="/js/custom/slickInit.js"></script>
{{/section}}

<section class="section bg-gray pt-5">
    <!-- Container Start -->
    <div class="container">
        <div class="row">
            <!-- Left sidebar -->
            <div class="col-md-8">
                <div class="product-details">
                    <h1 class="product-title">{{product.name}}</h1>
                    <div class="product-meta">
                        <ul class="list-inline">
                            <li class="list-inline-item">
                                <i class="fa fa-folder-open-o"></i>
                                Danh mục
                                <a href="/category/{{product.category_id}}">{{category.name}}</a>
                            </li>
                        </ul>
                    </div>

                    <!-- product slider -->
                    <div class="product-slider mb-2">
                        {{#each product.images}}
                        <div class="product-slider-item my-4"
                            data-image="{{this}}">
                            <img class="d-block img-fluid w-100" maxheight="300px"
                                src="{{this}}">
                        </div>
                        {{/each}}
                    </div>
                    <!-- product slider -->

                    <div class="content mt-5 pt-5">
                        <ul class="nav nav-pills  justify-content-center" id="pills-tab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home"
                                    role="tab" aria-controls="pills-home" aria-selected="true">Chi tiết gói hàng</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile"
                                    role="tab" aria-controls="pills-profile" aria-selected="false">Specifications</a>
                            </li>
                        </ul>
                        <div class="tab-content" id="pills-tabContent">
                            <div class="tab-pane fade show active" id="pills-home" role="tabpanel"
                                aria-labelledby="pills-home-tab">
                                <h3 class="tab-title">Gói hàng nhu yếu phẩm gồm: </h3>
                                <ul></ul>

                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam sed, officia
                                    reiciendis necessitatibus
                                    obcaecati eum, quaerat unde illo suscipit placeat nihil voluptatibus ipsa omnis
                                    repudiandae, excepturi! Id
                                    aperiam eius perferendis cupiditate exercitationem, mollitia numquam fuga, inventore
                                    quam eaque cumque fugiat,
                                    neque repudiandae dolore qui itaque iste asperiores ullam ut eum illum aliquam
                                    dignissimos similique! Aperiam
                                    aut temporibus optio nulla numquam molestias eum officia maiores aliquid laborum et
                                    officiis pariatur,
                                    delectus sapiente molestiae sit accusantium a libero, eligendi vero eius laboriosam
                                    minus. Nemo quibusdam
                                    nesciunt doloribus repellendus expedita necessitatibus velit vero?</p>

                            </div>
                            <div class="tab-pane fade" id="pills-profile" role="tabpanel"
                                aria-labelledby="pills-profile-tab">
                                <h3 class="tab-title">Thông số</h3>
                                <table class="table table-bordered product-table">
                                    <tbody>
                                        <tr>
                                            <td>Seller Price</td>
                                            <td>$450</td>
                                        </tr>
                                        <tr>
                                            <td>Added</td>
                                            <td>26th December</td>
                                        </tr>
                                        <tr>
                                            <td>State</td>
                                            <td>Dhaka</td>
                                        </tr>
                                        <tr>
                                            <td>Brand</td>
                                            <td>Apple</td>
                                        </tr>
                                        <tr>
                                            <td>Condition</td>
                                            <td>Used</td>
                                        </tr>
                                        <tr>
                                            <td>Model</td>
                                            <td>2017</td>
                                        </tr>
                                        <tr>
                                            <td>State</td>
                                            <td>Dhaka</td>
                                        </tr>
                                        <tr>
                                            <td>Battery Life</td>
                                            <td>23</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="sidebar">
                    <div class="widget price text-center">
                        <h4>Price</h4>
                        <p>{{product.price}}</p>
                    </div>
                    <!-- User Profile widget -->

                    <!-- Rate Widget -->
                    <div class="widget rate">
                        <!-- Heading -->
                        <h5 class="widget-header text-center">What would you rate
                            <br>
                            this product
                        </h5>
                        <!-- Rate -->
                        <div class="starrr">
                            <i class="fa-star-o fa"></i>
                            <i class="fa-star-o fa"></i>
                            <i class="fa-star-o fa"></i>
                            <i class="fa-star-o fa"></i>
                            <i class="fa-star-o fa"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Container End -->
</section>