{{#section 'title'}}
<title>Quản lý cơ sở</title>
{{/section}}

{{#section 'style'}}
{{!-- DataTables --}}
<link rel="stylesheet" type="text/css" href="/DataTables/datatables.css">
{{/section}}

<div class="col-md-12">
    <div class="card">
        <div class="card-header">
            <h4 class="card-title"> Simple Table</h4>
        </div>
        <button class="btn btn-info w-25 ml-4" onclick="handleIsolationWardModal(null, 'form-submit')" data-toggle="modal"
            data-target="#isolationWardModal">
            Thêm cơ sở điều trị / cách ly
        </button>
        <div class="card-body">
            <div class="table-responsive p-3">
                <table class="table table-hover" id="table_location_management">
                    <thead class=" text-primary">
                        <tr>
                            <th>
                                Tên cơ sở
                            </th>
                            <th class="text-right">
                                Sức chứa
                            </th>
                            <th class="text-right">
                                Số lượng tiếp nhận hiện tại
                            </th>
                            <th class="text-center">
                                Thao tác
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each data}}
                        <tr>
                            <td>
                                {{this.name}}
                            </td>
                            <td class="text-center">
                                {{this.capacity}}
                            </td>
                            <td class="text-center">
                                {{this.num_patients}}
                            </td>
                            <td class="text-center">
                                <button
                                    class="btn btn-success"
                                    data-toggle="modal"
                                    data-target="#isolationWardModal"
                                    onclick="handleIsolationWardModal({{{json this}}}, 'form-submit')"
                                >
                                    Sửa
                                </button>
                                <button
                                    class="btn btn-danger"
                                    data-id="{{this.location_id}}"
                                    data-toggle="modal"
                                    data-target="#delete-location-modal"
                                    onclick="handleIsolationWardModal(this, 'delete-location-form')"
                                >Xóa</button>
                            </td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{{!-- Add or update location --}}
<div class="modal fade" id="isolationWardModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Cơ sở điều trị / cách ly</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="form-submit" method="POST" action="/admin/isolation-ward">
                    <div class="form-group">
                        <label>Tên cơ sở</label>
                        <input type="text" class="form-control" id="name" name="name" placeholder="Ex: Kí túc xá khu B" required>
                    </div>
                    <div class="form-group">
                        <label>Sức chứa</label>
                        <input type="number" class="form-control" id="capacity" name="capacity" min="10" placeholder="Ex: 100" required>
                    </div>
                    <input
                        hidden
                        type="number"
                        class="form-control"
                        id="num_patients"
                        name="num_patients"
                    >
                    <div class="row">
                        <div class="update ml-auto mr-auto">
                            <button type="submit" class="btn btn-primary btn-round">Lưu thay đổi</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{{!-- Confirm delete location modal --}}
<div class="modal fade" id="delete-location-modal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Xóa cơ sở điều trị / cách ly?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Bạn chắc chắn muốn xóa cơ sở điều trị / cách ly này?</p>
                <form name="delete-location-form" id="delete-location-form" method="POST" action="/admin/isolation-ward?_method=DELETE">
                    <input type="text" name="delete_location_id" id="delete_location_id" hidden>
                </form>
            </div>
            <div class="modal-footer">
                <button
                    type="submit"
                    form="delete-location-form"
                    class="btn btn-danger"
                >
                    Xóa bỏ
                </button>
                <button type="button" class="btn btn-secondary ml-1" data-dismiss="modal" aria-label="Close">Hủy</button>
            </div>
        </div>
    </div>
</div>

{{#section 'script'}}
{{!-- Datatables --}}
<script type="text/javascript" charset="utf8" src="/DataTables/datatables.js"></script>
<script>
    $(document).ready(function () {
        $('#table_location_management').DataTable();
    });
</script>
{{!-- Modal --}}
<script src="/js/custom/modal.js"></script>
<script>
    const numPatientsInput = document.querySelector('#num_patients')
    const capacityInput = document.querySelector('#capacity')
    capacityInput.onchange = (e) => {
        numPatientsInput.max = e.target.value
    }
</script>
{{/section}}