{{#section 'title'}}
<title>Tạo gói nhu yếu phẩm</title>
{{/section}}

{{#section 'style'}}
{{!-- DataTables --}}
<link rel="stylesheet" type="text/css" href="/DataTables/datatables.css">
<link rel="stylesheet" type="text/css" href="/css/custom.css">
{{/section}}

<div class="col-md-12">
    <div class="card px-3 pb-3">
        <form id="registerFormValidation" action="/manager/package-management/create" enctype="multipart/form-data" method="POST" required>
            <div class="card-header">
                <h4 class="card-title">
                    Thông tin gói nhu yếu phẩm
                </h4>
            </div>
            <div class="card-content">
                <div class="form-group">
                    <label class="control-label">Tên gói nhu yếu phẩm <star class="text-danger">*</star></label>
                    <input class="form-control" name="name" id="registerName" type="text" required="true">
                </div>
                <div class="d-flex align-items-center">
                    <div class="form-group mr-4" style="flex: 1;">
                        <label class="control-label">Tối đa 1 người <star class="text-danger">*</star></label>
                        <input min="1" class="form-control" name="max_per_person" id="registerMaxPerPerson"
                            type="number" required="true">
                    </div>
                    <div class="form-group mr-4" style="flex: 1;">
                        <label class="control-label">Thời gian <star class="text-danger">*</star></label>
                        <input min="1" class="form-control" name="period" id="registerPeriod" type="number"
                            required="true">
                    </div>
                </div>
                <div class="mb-2">
                    <label class="control-label w-50">Thêm hình ảnh</label>
                    <input class="form-control" name="images" accept='image/*' id="images" type="file">
                </div>
                <div class="form-group">
                    <label class="control-label">ID-số_lượng_tối_đa những sản phẩm đã chọn (Vui lòng chọn ít nhất 2
                        trong danh sách sản phẩm) <star class="text-danger">*</star></label>
                    <input class="form-control" autocomplete="off" onkeypress="return false;" onkeydown="return false;"
                        style="background-color: #FFF;" name="products" id="registerProducts" type="text"
                        required="true">
                </div>
            </div>
            <div class="card-footer">
                <button id="btn-register" type="submit" class="btn btn-info btn-fill pull-right">Thêm mới</button>
            </div>
        </form>
    </div>
</div>


<div class="col-md-12">
    <div class="card">
        <div class="card-header">
            <h4 class="card-title">Danh sách sản phẩm</h4>
            <p style="margin-bottom: 0;">Nhập số lượng tối đa và đánh dấu để thêm</p>
        </div>
        <div class="card-body">
            <div class="table-responsive p-3">
                <table class="table table-hover" id="table_product_management">
                    <thead class=" text-primary">
                        <tr>
                            <th>
                                Tên nhu yếu phẩm
                            </th>
                            <th>
                                Đơn vị
                            </th>
                            <th>
                                Đơn giá
                            </th>
                            <th class="text-right">
                                Chọn
                            </th>
                            <th class="text-right">
                                Tối đa
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each products}}
                        <tr>
                            <td>
                                {{this.name}}
                            </td>
                            <td>
                                {{this.unit}}
                            </td>
                            <td>
                                {{this.price}}
                            </td>
                            <td class="text-right">
                                <input type="checkbox" style="margin-right: 12px;" name="{{this.necessary_id}}"
                                    id="{{this.necessary_id}}">
                            </td>
                            <td class="text-right">
                                <input min="1" class="text-center" style="width: 40px; margin-right: 12px;"
                                    type="number" name="max-{{this.necessary_id}}" id="max-{{this-necessary_id}}">
                            </td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{{#section 'script'}}
{{!-- Datatables --}}
<script type="text/javascript" charset="utf8" src="/DataTables/datatables.js"></script>
<script>
    $(document).ready(function () {
        $('#table_product_management').DataTable();
    });
</script>
{{!-- relate account --}}
<script type="text/javascript" charset="utf8" src="/js/custom/packageProduct.js"></script>
{{/section}}