{{#section 'title'}}
<title>Thông tin nhu yếu phẩm</title>
{{/section}}

<div class="col-md-12">
    <div class="card px-3 pb-3">
        <form id="registerFormValidation" action="/manager/product-management/{{product.necessary_id}}" method="POST" enctype="multipart/form-data" required>
            <div class="card-header">
                <h4 class="card-title">
                    Thông tin nhu yếu phẩm
                </h4>
            </div>
            <div class="card-content">
                <div class="d-flex align-items-center">
                    <div class="form-group mr-4" style="flex: 1;">
                        <label class="control-label">Tên nhu yếu phẩm <star class="text-danger">*</star></label>
                        <input class="form-control" name="name" id="registerName" type="text" required="true" value="{{product.name}}">
                    </div>
                    <div class="form-group" style="flex: 1;">
                        <label class="control-label">Đơn giá <star class="text-danger">*</star></label>
                        <input class="form-control" name="price" id="registerPrice" type="number" required="true" value="{{product.price}}">
                    </div>
                </div>
                <div class="d-flex align-items-center">
                    <div class="form-group mr-4" style="flex: 1;">
                        <label class="control-label">Đơn vị <star class="text-danger">*</star></label>
                        <input class="form-control" name="unit" id="registerUnit" type="text" required="true" value="{{product.unit}}">
                    </div>
                    <div class="form-group" style="flex: 1;">
                        <label class="control-label">Danh mục <star class="text-danger">*</star></label>
                        {{#select product.category_id}}
                        <select class="form-control" name="category_id" id="registerCategoryId" required="true">
                            {{#each categories}}
                            <option value="{{this.category_id}}">{{this.name}}</option>
                            {{/each}}
                        </select>
                        {{/select}}
                    </div>
                </div>
                <label class="control-label w-50">Thêm hình ảnh (Lưu ý: Cập nhật sẽ tạo mới tất cả hình ảnh của nhu yếu phẩm)</label>
                <input class="form-control" name="images" accept='image/*' id="images" type="file" multiple>
                
            </div>
            <div class="card-footer">
                <button id="btn-register" type="submit" class="btn btn-info btn-fill pull-right">Cập nhật</button>
            </div>
        </form>
    </div>
</div>


<div class="col-md-12">
    <div class="card">
        <div class="card-header">
            <h4 class="card-title">Danh sách hình ảnh</h4>
        </div>
        <div class="card-body">
            <div class="row justify-content-center">

                {{#each product.images}}
                    <div class="col-12 col-md-5 mb-3 mx-2 text-center" style="border: 1px solid rgba(0, 0, 0, 0.5);">
                        <img src="{{this}}" alt="">
                    </div>
                {{/each}}
            </div>

        </div>
    </div>
</div>