{{#section 'title'}}
<title>Tạo tài khoản</title>
{{/section}}

{{#section 'style'}}
{{!-- DataTables --}}
<link rel="stylesheet" type="text/css" href="/DataTables/datatables.css">
{{/section}}

<div class="col-md-12">
    <div class="card px-3 pb-3">
        <form id="registerFormValidation" action="" method="" required>
            <div class="card-header">
                <h4 class="card-title">
                    Thông tin bệnh nhân
                </h4>
            </div>
            <div class="card-content">
                <div class="d-flex align-items-center">
                    <div class="form-group mr-4" style="flex: 1;">
                        <label class="control-label">Họ tên <star class="text-danger">*</star></label>
                        <input class="form-control" name="fullname" id="registerFullname" type="text" required="true" value="{{patient.fullname}}">
                    </div>
                    <div class="form-group" style="flex: 1;">
                        <label class="control-label">Số CMND/ Căn cước công dân <star class="text-danger">*</star></label>
                        <input class="form-control" name="identity" id="registerIdentity" type="number" required="true" value="{{patient.identity}}">
                    </div>
                </div>
                <div class="d-flex align-items-center">
                    <div class="form-group mr-4" style="flex: 1;">
                        <label class="control-label">Ngày sinh <star class="text-danger">*</star></label>
                        <input class="form-control" name="birthday" id="registerBirthday" type="date" required="true" value="{{patient.birthday}}">
                    </div>
                    <div class="form-group" style="flex: 1;">
                        <label class="control-label">Trạng thái hiện tại <star class="text-danger">*</star></label>
                        {{#select patient.status}}
                        <select class="form-control" name="status" id="registerStatus" required="true">
                            <option value="0">F0</option>
                            <option value="1">F1</option>
                            <option value="2">F2</option>
                        </select>
                        {{/select}}
                    </div>
                </div>
                <div class="d-flex align-items-center">
                    <div class="form-group mr-4" style="flex: 1;">
                        <label class="control-label">Tỉnh thành <star class="text-danger">*</star></label>
                        {{#select patient.city}}
                        <select class="form-control" name="city" id="registerCity" type="text" required="true">
                            <option value="1">TP Hồ Chí Minh</option>
                            <option value="2">TP Hà Nội</option>
                            <option value="3">Tỉnh Tiền Giang</option>
                            <option value="4">TP Đà Nẵng</option>
                            <option value="5">TP Huế</option>
                        </select>
                        {{/select}}
                    </div>
                    <div class="form-group" style="flex: 1;">
                        <label class="control-label">Quận huyện <star class="text-danger">*</star></label>
                        {{#select patient.district}}
                        <select class="form-control" name="district" id="registerDistrict" type="text" required="true">
                            <option value="1">Quận Thủ Đức</option>
                            <option value="2">Huyện Hóc Môn</option>
                            <option value="3">Quận 1</option>
                            <option value="4">Quận 2</option>
                            <option value="5">Quận 3</option>
                        </select>
                        {{/select}}
                    </div>
                </div>
                <div class="d-flex align-items-center">
                    <div class="form-group mr-4" style="flex: 1;">
                        <label class="control-label">Phường Xã <star class="text-danger">*</star></label>
                        {{#select patient.ward}}
                        <select class="form-control" name="ward" id="registerWard" required="true">
                            <option value="1">Phường 1</option>
                            <option value="2">Phường 2</option>
                            <option value="3">Phường 3</option>
                            <option value="4">Phường 4</option>
                            <option value="5">Phường 5</option>
                        </select>
                        {{/select}}
                    </div>
                    <div class="form-group" style="flex: 1;">
                        <label class="control-label">Nơi điều trị / cách ly <star class="text-danger">*</star></label>
                        {{#select patient.isolation}}
                        <select class="form-control" name="isolation" id="registerIsolation" required="true">
                            <option value="1">Khu A</option>
                            <option value="2">Khu B</option>
                            <option value="3">Khu C</option>
                            <option value="4">Khu D</option>
                            <option value="5">Khu E</option>
                        </select>
                        {{/select}}
                    </div>
                </div>
                <div class="form-group">
                        <label class="control-label">ID những người liên quan (Vui lòng chọn trong danh sách người bệnh) <star class="text-danger">*</star></label>
                        <input class="form-control"
                            name="relate"
                            id="registerRelate"
                            type="text"
                            autocomplete="off"
                            onkeypress="return false;"
                            onkeydown="return false;"
                            style="background-color: #FFF;"
                            required="true"
                            value="{{patient.relate}}"
                        >
                    </div>
            </div>
            <div class="card-footer">
                <button id="btn-register" type="submit" class="btn btn-info btn-fill pull-right">Register</button>
            </div>
        </form>
    </div>
</div>


<div class="col-md-12">
    <div class="card">
        <div class="card-header">
            <h4 class="card-title">Danh sách người bệnh</h4>
        </div>
        <div class="card-body">
            <div class="table-responsive p-3">
                <table class="table table-hover" id="table_relate_account">
                    <thead class=" text-primary">
                        <tr>
                            <th>
                                Họ tên
                            </th>
                            <th>
                                Địa chỉ
                            </th>
                            <th class="text-center">
                                Trạng thái
                            </th>
                            <th class="text-center">
                                Đánh dấu liên quan
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each data}}
                        <tr>
                            <td>
                                {{this.name}}
                            </td>
                            <td>
                                {{this.city}}
                            </td>
                            <td class="text-center">
                                {{this.status}}
                            </td>
                            <td class="text-center">
                                <input type="checkbox" name="{{@index}}" id="{{@index}}">
                            </td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{{#section 'script'}}
{{!-- Datatables --}}
<script type="text/javascript" charset="utf8" src="/DataTables/datatables.js"></script>
<script>
    $(document).ready(function () {
        $('#table_relate_account').DataTable();
    });
</script>
{{!-- relate account --}}
<script type="text/javascript" charset="utf8" src="/js/custom/relateAcc.js"></script>
{{/section}}