{{#section 'title'}}
<title>Quản lý thanh toán</title>
{{/section}}

{{#section 'style'}}
{{!-- DataTables --}}
<link rel="stylesheet" type="text/css" href="/DataTables/datatables.css">
{{/section}}

<div class="col-md-12">
    <div class="card px-3 pb-3">
        <form id="registerFormValidation" action="/manager/payment-management" method="POST" required>
            <div class="card-header">
                <h4 class="card-title">
                    Hạn mức tối thiểu
                </h4>
            </div>
            <div class="card-content">
                <div class="d-flex align-items-center">
                    <div class="form-group mr-4" style="flex: 1;">
                        <h1 class="mb-0 ml-2 text-info">{{this.amount}}đ</h1>
                    </div>
                    <div class="form-group" style="flex: 1;">
                        <label class="control-label">Cập nhật hạn mức tối thiểu <star class="text-danger">*</star></label>
                        <input class="form-control" name="amount" min="0" id="registerAmount" type="number" required="true">
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <button id="btn-register" type="submit" class="btn btn-info btn-fill pull-right">Cập nhật</button>
            </div>
        </form>
    </div>
</div>


<div class="col-md-12">
    <div class="card">
        <div class="card-header">
            <h4 class="card-title">Danh sách người bệnh</h4>
        </div>
        <div class="card-body">
            <div class="table-responsive p-3">
                <table class="table table-hover" id="table_payment_account">
                    <thead class=" text-primary">
                        <tr>
                            <th>
                                Họ tên
                            </th>
                            <th>
                                Trạng thái
                            </th>
                            <th class="text-center">
                                Nợ
                            </th>
                            <th class="text-center">
                                Đánh dấu thông báo
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each data}}
                        <tr>
                            <td>
                                {{this.name}}
                            </td>
                            <td>
                                {{this.status}}
                            </td>
                            <td class="text-center">
                                {{this.debt}}
                            </td>
                            <td class="text-center">
                                {{#ifCond this.debt '>' 0}}
                                <input type="checkbox" name="{{@index}}" id="{{@index}}">
                                {{/ifCond}}
                            </td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
                <div class="clearfix mt-2">
                    <button id="btn-register" form="" type="submit" class="btn btn-info btn-fill pull-right">Thông báo</button>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header">
            <h4 class="card-title"> Thống kê dư nợ, thanh toán</h4>
        </div>
        <div class="card-body">
            <canvas id="moneyChart" style="padding: 0 50px;"></canvas>
        </div>
    </div>
</div>


{{#section 'script'}}
{{!-- Datatables --}}
<script type="text/javascript" charset="utf8" src="/DataTables/datatables.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.0/chart.min.js"></script>
<script>
    $(document).ready(function () {
        $('#table_payment_account').DataTable();
    });
    const moneyChartCanvas = document.getElementById('moneyChart');
    const data = {
        labels: {{{ chart_data.months }}},
        datasets: [
            {
                label: 'Dư nợ',
                data: {{ chart_data.data.debt }},
                borderColor: 'rgb(255, 42, 51)',
                backgroundColor: 'rgb(255, 42, 51, 0.5)',
                stack: 'combined',
                type: 'bar'
            },
            {
                label: 'Thanh toán',
                data: {{ chart_data.data.payment }},
                borderColor: 'rgb(70, 107, 255)',
                backgroundColor: 'rgb(70, 107, 255, 0.5)',
                stack: 'combined'
            }
        ]
    }
    const config = {
        type: 'line',
        data: data,
        options: {
            scales: {
                y: {
                    stacked: true
                }
            }
        },
    };
    const moneyChart = new Chart(moneyChartCanvas, config)
</script>
{{/section}}