{{#section 'title'}}
<title>Quản lý nhu yếu phẩm</title>
{{/section}}

{{#section 'style'}}
{{!-- DataTables --}}
<link rel="stylesheet" type="text/css" href="/DataTables/datatables.css">
{{/section}}

<div class="col-md-12">
    <div class="card">
        <div class="card-header">
            <h4 class="card-title"> Quản lý nhu yếu phẩm</h4>
        </div>
        <div class="d-flex justify-content-between">
            <a href="/manager/product-management/create" class="btn btn-info w-25 ml-4"> Thêm nhu yếu phẩm </a>
            <button class="btn btn-info w-25 mr-4 switch-view-btn"> Đổi dạng hiển thị </button>
        </div>
        <div class="card-body">
            <div class="table-responsive table-view p-3">
                <table class="table table-hover" id="table_product_management">
                    <thead class=" text-primary">
                        <tr>
                            <th>
                                Tên nhu yếu phẩm
                            </th>
                            <th>
                                Đơn vị
                            </th>
                            <th>
                                Đơn giá
                            </th>
                            <th>
                                Danh mục
                            </th>
                            <th class="text-right">
                                Thao tác
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each data}}
                        <tr>
                            <td>
                                {{this.name}}
                            </td>
                            <td>
                                {{this.unit}}
                            </td>
                            <td>
                                {{this.price}}
                            </td>
                            <td>
                                {{this.category_name}}
                            </td>
                            <td class="text-right">
                                <a href="/manager/product-management/{{this.necessary_id}}" class="btn btn-success"> Chi tiết </a>
                                <button
                                    class="btn btn-danger"
                                    data-id="{{this.necessary_id}}"
                                    data-toggle="modal"
                                    data-target="#delete-product-modal"
                                    onclick="handleProductModal(this, 'delete-product-form')"
                                >Xóa</button>
                            </td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
            <div class="table-responsive card-view p-3">
                <div class="container">
                    <div class="row">
                        {{#each data}}
                        <div class="card col-12 col-md-4 col-lg-3">
                            <a href="/manager/product-management/{{this.necessary_id}}">
                                <img src="{{get this.images 0}}" class="card-img-top">
                                <div class="card-body">
                                    <h5 class="card-title text-dark">{{this.name}}</h5>
                                    <p class="card-text text-dark">{{this.price}}đ / {{this.unit}}</p>
                                </div>
                            </a>
                        </div>
                        {{/each}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header">
            <h4 class="card-title"> Thống kê tiêu thụ Nhu yếu phẩm</h4>
        </div>
        <div class="card-body">
            <canvas id="productChart" style="padding: 0 50px;"></canvas>
        </div>
    </div>
</div>

{{!-- Confirm delete product modal --}}
<div class="modal fade" id="delete-product-modal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Xóa nhu yếu phẩm?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Bạn chắc chắn muốn xóa nhu yếu phẩm này?</p>
                <form name="delete-product-form" id="delete-product-form" method="POST" action="/manager/product-management?_method=DELETE">
                    <input type="text" name="delete_product_id" id="delete_product_id" hidden>
                </form>
            </div>
            <div class="modal-footer">
                <button
                    type="submit"
                    form="delete-product-form"
                    class="btn btn-danger"
                >
                    Xóa bỏ
                </button>
                <button type="button" class="btn btn-secondary ml-1" data-dismiss="modal" aria-label="Close">Hủy</button>
            </div>
        </div>
    </div>
</div>


{{#section 'script'}}
{{!-- Datatables --}}
<script type="text/javascript" charset="utf8" src="/DataTables/datatables.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.0/chart.min.js"></script>
<script>
    $(document).ready(function () {
        $('#table_product_management').DataTable();
    });
    const productChartCanvas = document.getElementById('productChart');
    const data = {
        labels: {{{ chart_data.dates }}},
        datasets: [
            {{#each chart_data.data}}
            {
                label: {{{ this.name }}},
                data: {{ this.data }},
                fill: false,
                borderColor: {{{ this.color }}},
                tension: 0.1
            },
            {{/each}}
        ]
    }
    const config = {
        type: 'line',
        data: data,
        option: {
            responsive: false,
            maintainAspectRatio: true,
            scales: {
                y: {
                    beginAtZero: true
                }
            },
            layout: {
                padding: {
                    x: 50
                }
            }
        }
    }
    var productChart = new Chart(productChartCanvas, config)
</script>
{{!-- Modal --}}
<script src="/js/custom/modal.js"></script>
<script src="/js/custom/toggleTableCardView.js"></script>
{{/section}}