<nav class="navbar navbar-expand-lg navbar-light navigation px-5">
    <a class="navbar-brand" href="/">
        <img width="100px" src="/img/logo.png" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto mt-10">
            {{#if isLoggedIn}}
            <li class="nav-item dropdown dropdown-slide">
                <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
                    {{#if user.fullname}}
                    Hi, {{user.fullname}}
                    {{else}}
                    Hi, {{user.username}}
                    {{/if}}
                </a>
                <!-- Dropdown list -->
                <div class="dropdown-menu dropdown-menu-right">
                    {{#ifCond user.permission '==' 4}}
                    <a class="dropdown-item" href="/user/{{user.account_id}}/profile">Tài khoản của tôi</a>
                    <a class="dropdown-item" href="/user/{{user.account_id}}/management">Lịch sử được quản lý</a>
                    <a class="dropdown-item" href="/user/{{user.account_id}}/purchase">Lịch sử mua hàng</a>
                    <a class="dropdown-item" href="/user/{{user.account_id}}/payment">Tài khoản thanh toán</a>
                    <a class="dropdown-item" href="/user/{{user.account_id}}/change-password">Đổi mật khẩu</a>
                    {{/ifCond}}
                    <a class="dropdown-item" href="/logout">Đăng xuất</a>
                </div>
            </li>
            {{else}}
            <li class="nav-item">
                <a class="nav-link login-button" href="/login">Login</a>
            </li>
            {{/if}}
        </ul>
    </div>
</nav>