<nav class="navbar navbar-expand-lg navbar-light navigation px-5">
    <a class="navbar-brand" href="/">
        <img width="100px" src="/img/logo.png" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto main-nav ">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item dropdown dropdown-slide">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="">Dashboard<span><i
                            class="fa fa-angle-down"></i></span>
                </a>

                <!-- Dropdown list -->
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="dashboard.html">Dashboard</a>
                    <a class="dropdown-item" href="dashboard-my-ads.html">Dashboard My Ads</a>
                    <a class="dropdown-item" href="dashboard-favourite-ads.html">Dashboard Favourite
                        Ads</a>
                    <a class="dropdown-item" href="dashboard-archived-ads.html">Dashboard Archived
                        Ads</a>
                    <a class="dropdown-item" href="dashboard-pending-ads.html">Dashboard Pending
                        Ads</a>
                </div>
            </li>
            <li class="nav-item dropdown dropdown-slide">
                <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
                    Pages <span><i class="fa fa-angle-down"></i></span>
                </a>
                <!-- Dropdown list -->
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="contact-us.html">Contact Us</a>
                    <a class="dropdown-item" href="user-profile.html">User Profile</a>
                    <a class="dropdown-item" href="404.html">404 Page</a>
                    <a class="dropdown-item" href="package.html">Package</a>
                    <a class="dropdown-item" href="single.html">Single Page</a>
                    <a class="dropdown-item" href="store.html">Store Single</a>
                    <a class="dropdown-item" href="single-blog.html">Single Post</a>
                    <a class="dropdown-item" href="blog.html">Blog</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">About Us</a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto mt-10">
            {{#if isLoggedIn}}
            <li class="nav-item dropdown dropdown-slide">
                <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
                    {{#if user.fullname}}
                    Hi, {{user.fullname}}
                    {{else}}
                    Hi, {{user.username}}
                    {{/if}}
                </a>
                <!-- Dropdown list -->
                <div class="dropdown-menu dropdown-menu-right">
                    {{#ifCond user.permission '==' 4}}
                    <a class="dropdown-item" href="/user/{{user.account_id}}/profile">Tài khoản của tôi</a>
                    <a class="dropdown-item" href="/user/{{user.account_id}}/management">Lịch sử được quản lý</a>
                    <a class="dropdown-item" href="/user/{{user.account_id}}/purchase">Lịch sử mua hàng</a>
                    <a class="dropdown-item" href="/user/{{user.account_id}}/payment">Tài khoản thanh toán</a>
                    {{/ifCond}}
                    <a class="dropdown-item" href="/logout">Đăng xuất</a>
                </div>
            </li>
            {{else}}
            <li class="nav-item">
                <a class="nav-link login-button" href="/login">Login</a>
            </li>
            {{/if}}
        </ul>
    </div>
</nav>