<div class="product-item bg-light">
    <div class="card">
        <div class="thumb-content">
            {{!-- <div class="price">$200</div> --}}
            <a href="/necessary-packet/{{id}}">
                <img class="card-img-top img-fluid" src="{{imgSrc}}" alt="Card image cap">
            </a>
        </div>
        <div class="card-body">
            <h4 class="card-title"><a href="/necessary-packet/{{id}}">{{name}}</a></h4>
            <ul class="list-inline product-meta">
                <li class="list-inline-item">
                    <a href="/category/{{category.name}}"><i class="fa fa-folder-open-o"></i>{{category.name}}</a>
                </li>
            </ul>
            <p class="card-text">{{description}}</p>
        </div>
        <div class="card-footer text-center bg-white">
            <a href="/necessary-packet/{{id}}" class="btn btn-info mx-auto p-2">Chi tiết</a>
        </div>
    </div>
</div>